.Box1 {
    left: 5%;
    top: 25%;

}


.Box2{

    left: 35%;
    top: 25%;
}

.Box3{

    left: 65%;
    top: 25%;
}

.Box4{

    left: 5%;
    top: 65%;
}

.Box5{

    left: 35%;
    top: 65%;
}

.Box6{

    left: 65%;
    top: 65%;
}






